extends layout

block content
    h1.
        User List
    ul
        each user, i in userlist
            li
                span: a(href="/user/#{user._id}" text-decoration="none")= user.first_name + " " + user.last_name

    a(href="/newuser")  Add User

=JSON.stringify(userlist)

